{% extends './base.html.twig'%}{% block title %} | accueil{% endblock %} {%
block body %}
<div class="container mt-5">
  <h1>Articles</h1>
  <div class="row mt-5">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem">
        <img
          src="{{ asset('uploads/dog1.jpg') }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="{{ path('article') }}" class="card-link">Lire la suite</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem">
        <img
          src="{{ asset('uploads/dog2.jpg') }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="card" style="width: 18rem">
        <img
          src="{{ asset('uploads/dog3.jpg') }}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="card-link">Card link</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
