{% extends './base.html.twig'%}{% block title %} | accueil{% endblock %} {%
block body %}
<div class="container mt-5">
  <h1>{{ article.title }}</h1>
  <p class="lead">
    {{ article.createdAt | date("d/m/Y")}}
  </p>
  <div class="row mt-5">
    <div class="col-md-6 col-sm-12">
      {{ article.content | raw }}
    </div>
    <div class="col-md-6 col-sm-12">
      <img
        src="{{ asset('uploads/dog1.jpg') }}"
        class="shadow-lg p-3 mb-5 bg-body rounded"
        alt="..."
        style="width: 100%"
      />
    </div>
  </div>
</div>
{% endblock body %}
